<div class="container">
    <div class="row">
        <div class="col-sm-6 offset-3">
            <img src="../../assets/img/contact-us.png" class="service-img" alt="simil" style="max-width: 140px;">
            <h1 class="page-title">Contact Us!</h1>
        </div>
    </div>
    <hr />
    <div class="row">
        <p class="page-description">If you like this app, and have an idea to use our API in your own app, feel free to contact us </p>
    </div>
    <hr />
    <div class="row">
        <div class="card mb-3 col-12">
            <div class="row no-gutters">
                <div class="col-md-3 img-section">
                    <img src="../../assets/img/profile.png" class="card-img avatar" alt="simil">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h3 class="card-title">John Doe</h3>
                        <p class="card-text">Phasellus venenatis sagittis pharetra. </p>
                        <p class="card-text">mymail@mail.com </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-3 col-12">
            <div class="row no-gutters">
                <div class="col-md-3 img-section">
                    <img src="../../assets/img/profile.png" class="card-img" alt="simil" style="max-width: 100px;">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h3 class="card-title">John Doe</h3>
                        <p class="card-text">Phasellus venenatis sagittis pharetra. </p>
                        <p class="card-text">mymail@mail.com </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-3 col-12">
            <div class="row no-gutters">
                <div class="col-md-3 img-section">
                    <img src="../../assets/img/profile.png" class="card-img" alt="simil" style="max-width: 100px;">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h3 class="card-title">John Doe</h3>
                        <p class="card-text">Phasellus venenatis sagittis pharetra. </p>
                        <p class="card-text">mymail@mail.com </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>