<div class="container">
    <div class="row">
        <div class="col-sm-6 offset-3">
            <h1 class="page-title">Welcome to {{'{'}}APINAME{{'}'}}.</h1>
        </div>
    </div>
    <hr />
    <p class="page-description">Feel free to navigate this app to test how our API for Various
        Machine Learning Services work. </p>
    <div class="row">
        <div class="card mb-3 col-12">
            <div class="row no-gutters">
                <div class="col-md-3 img-section">
                    <img src="../../assets/img/Similarity.png" class="card-img" alt="simil" style="max-width: 150px;">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h3 class="card-title">Text Similarity</h3>
                        <p class="card-text"> <small> Find out how similar two texts of your choice are.</small> </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-3 col-12">
            <div class="row no-gutters">
                <div class="col-md-3 img-section">
                    <img src="../../assets/img/entity-recognition.png" class="card-img" alt="simil"
                        style="max-width: 150px;">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h3 class="card-title">Entity Recognition</h3>
                        <p class="card-text"> <small> Identify entities from a text of your choice.</small></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-3 col-12">
            <div class="row no-gutters">
                <div class="col-md-3 img-section">
                    <img src="../../assets/img/image-recognition.png" class="card-img" alt="simil"
                        style="max-width: 150px;">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h3 class="card-title">Image Recognition</h3>
                        <p class="card-text"><small>Analyze images to identify objects and more. </small></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>