.btn {
    margin: 0.3rem;
}

label {
    height: 100%;
    text-align: center;
}

.card-header {
    background-color: cadetblue;
    color: white;
}

.card {
    text-align: center;
    align-self: center;
}

.login {
    display: flex;
    align-items: flex-start;
}

.img-section {
    margin: 0 1rem;
}

.container {
    text-align: center;
}

/* .card {
    text-align: justify !important;
} */

.page-title {
    margin: 2rem 0;
}

.page-description {
    margin: 3rem 0;
}