nav {
/* display: block; */
height: 100%;
background-color: cadetblue;

}

ul {
    height: 100%;
    /* justify-content: flex-end; */
}

.nav-item {
    display: flex;
    justify-content: center;
}

.nav-link {
    align-self: flex-end;
}

.navigation {
    flex-grow: 1;
}

.contact {
    flex-grow: 10;
}

.page-logo {
    max-height: 100px;
}
