<div class="container">
    <div class="row">
        <div class="col-sm-6 offset-3">
            <img src="../../assets/img/Similarity.png" class="service-img" alt="simil" style="max-width: 180px;">
            <h1 class="page-title">{{Title}}</h1>
        </div>
    </div>
    <hr />
    <div class="row">
        <p class="page-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin enim ligula,hendrerit
            vitae elit et, congue rutrum risus. Aenean viverra luctus felis, non posuere risus auctor nec. Aenean
            sagittis
            urna in augue ullamcorper sodales. Aenean metus nibh, rutrum in lectus et, molestie dictum diam. Suspendisse
            malesuada ligula sit amet urna tempor, id scelerisque nulla sollicitudin. Curabitur ut orci eget orci
            rhoncus
            gravida ac vel dui. </p>
    </div>
    <hr />
    <form class="flex-column">
        <div class="row form-row">
            <div class="form-group text-section">
                <label for="text1">Please enter Text 1 here</label>
                <input type="textarea" class="form-control" id="text1" placeholder="First Text here...">
            </div>
        </div>
        <div class="row form-row">
            <div class="form-group text-section">
                <label for="text2">Please enter Text 2 here</label>
                <input type="textarea" class="form-control" id="text2" placeholder="Second Text here...">
            </div>
        </div>
        <div class="row form-row" style="display: flex; justify-content:center;">
            <button type="submit" class="btn btn-primary" style="margin: 0 3rem;">Check Similarity</button>
            <button class="btn btn-secondary" style="margin: 0 3rem;"> Reset fields</button>
        </div>
    </form>
</div>