<div class="container">
    <div class="row">
        <div class="col-sm-6 offset-3">
            <img src="../../assets/img/image-recognition.png" class="service-img" alt="simil" style="max-width: 140px;">
            <h1 class="page-title">{{Title}}</h1>
        </div>
    </div>
    <hr />
    <div class="row">
        <p class="page-description">Analyze images to identify objects and more. Add an URL below and start analysis </p>
    </div>
    <hr />
    <form class="flex-column" [formGroup]="MLRequestForm" (ngSubmit)="onMLRequest()" *ngIf="!submittedRequest">
        <div class="row form-row">
            <div class="form-group text-section">
                <label for="urlText">Enter image URL here for processing</label>
                <input type="url" class="form-control" id="urlText" placeholder="URL goes here..."
                    formControlName="imageUrl">
            </div>
        </div>
        <div class="row form-row" style="display: flex; justify-content:center;">
            <button type="submit" class="btn btn-primary" style="margin: 0 3rem;">Process Image</button>
            <button class="btn btn-secondary" style="margin: 0 3rem;" (click)="resetFields($event)"> Reset
                fields</button>
        </div>
    </form>
    <div class="row">
        <div *ngIf="submittedRequest" class="page-description" style="text-align: center; width: 100%;">
            <div *ngIf="foundResults; else api_error">
                <div class="form-row ">
                    <div class="card text-center text-section">
                        <div style="text-align: center;">
                            <img class="card-img-top" src="../../assets/img/success.png" alt="Card image cap"
                                style="width: 10rem;">
                        </div>
                        <div class="card-body">
                            <h4 class="card-title" style="text-align: center;">Finished!</h4>
                            <p class="card-text" style="text-align: center;"> Recognized:
                                {{predictionResult.result}}
                            </p>
                            <div style="text-align: center;">
                                <a href="#" class="btn btn-primary" (click)="restartForm()">Go back</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <ng-template #api_error style="color: red;"> There was an error getting the results. Please try again later.
            </ng-template>
        </div>
    </div>
</div>